/Bestellungssystem/nbproject/private/
/Bestellungssystem/Bestellungssystem-war/nbproject/private/
/Bestellungssystem/Bestellungssystem-ejb/nbproject/private/
/EichwaldMorthorst/nbproject/private/
/EichwaldMorthorst/build/
/EichwaldMorthorst/dist/.war