@font-face {
    font-family: 'fraulein';
    src: url('./fraulein/frau.ttf') format("truetype");
}

@font-face {
    font-family: 'grungerocker';
    src: url('./GRUNRG.ttf') format("truetype");
}

@font-face {
    font-family: 'sports_night';
    src: url('./SF_Sports_Night.ttf') format("truetype");
}

body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

table {
    text-align: center;
}

.button {
    margin: 10px 10px 10px 0px;
    border-radius: 3px;
    padding: 10px 40px;
    border-color: blue;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    cursor: pointer;
    background-color: #3c3f41;
    color: white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.buttonNavigation {
    border-right: 2px;
    border-left: 2px;
    border-color: blue;
    background-color: white;
    margin-bottom: 10px;
    font-size: 15px;
    float: left;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.buttonNavigation:hover {
    color: blue;
    background-color: #f5f5fa;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.deleteButton {
    background: url(./deleteButton.png) no-repeat;
    background-size: 100%;
    border: none;
    height: 43px;
    width: 43px;
}

.deleteButton:hover {
    background: url(./deleteButtonActive.png) no-repeat;
    background-size: 100%;
}

.addButton {
    background: url(./addButton.png) no-repeat;
    background-size: 100%;
    border: none;
    height: 43px;
    width: 43px;
}

.addButton:hover {
    background: url(./addButtonActive.png) no-repeat;
    background-size: 100%;
}

.editButton {
    background: url(./notes.png) no-repeat;
    background-size: 100%;
    border: none;
    width: 30px;
    height: 30px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}

table {
    width: 100%;
    /*font-family: 'fraulein';*/
    font-size: 20px;
}

th,
td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    text-transform: uppercase;
}

tr:hover {
    background-color: #f5f5f5
}

.ueberschrift {
    font-family: 'sports_night';
    font-size: 40px;
    margin-bottom: 10px;
}

label {
    font-family: 'fraulein';
    font-size: 40px;
}

.hidden {
    display: none;
}

.nothidden {
    display: block;
    transition-property: display;
    -webkit-transition-duration: 4s;
    transition-duration: 4s;
    width: 100%;
}

.kunde {
    font-size: 30px;
    text-transform: uppercase;
    color: blue;
    font-family: 'grungerocker';
}